@media (max-width: 1330px){
    header{
        padding: 40px;
    }

    section{
        padding:150px 40px ;
    }

    .socmed{
        left: 40px;
    }

    .content{
        flex-direction: column;
    }

    .content .textBox, .content .image-container{
        max-width: 100%;
    }

    .swiper-slide{
        height: 300px;
    }

    header .navigation{
        display: none;
    }
    
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }

    .toggle.active{
        position: fixed;
        right: 40px;
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header .navigation.active{
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #e51e2a;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    header .navigation li a{
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
    }

    .socmed{
        right: 50%;
        left: 50%;
    }
}